{{ define "main" }}
<section
    class="justify-self-center mx-auto px-6 mb-16 sm:px-4 md:px-0 prose dark:prose-invert prose-slate lg:prose-lg hover:prose-a:text-sky-500">
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    {{ if .Params.Image }}
        {{ printf "Image parameter: %s" .Params.Image | safeHTML }}
        
        {{ $imagePath := printf "/img/uploads/%s" .Params.Image }}
        {{ printf "Image path: %s" $imagePath | safeHTML }}

        <img src="{{ $imagePath }}" alt="{{ .Params.imageAlt }}" width="auto" height="auto">
    {{ else }}
        {{ printf "No image parameter found" | safeHTML }}
    {{ end }}


    themes/layouts/page/single
</section>

{{ end }}