<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    {{ partial "head.html" . }}
</head>
<body class="relative">
    <!-- Site container but no horizontal padding -->
    <div class="site-container min-h-screen flex flex-col">
                
        <!-- Header is positioned absolutely -->
        {{ partial "header.html" . }}
        
        
        {{ block "hero" . }}
            <!-- No hero by default -->
        {{ end }}

        <!-- Main content -->
        <main class="flex-grow">
            {{ block "main" . }}{{ end }}
        </main>
        
        {{ partial "footer.html" . }}
    </div>
</body>
</html>