{{ if .Params.sections }}
  {{ range $sectionIndex, $section := .Params.sections }}
    {{ $typeValue := $section.sectionType | default $section.type }}
    
    {{ if eq $typeValue "richText" }}
      {{ partial "rich-text-section.html" $section }}
    
    {{ else if eq $typeValue "cardGrid" }}
      {{ partial "card-grid.html" $section }}
    
    {{ else if eq $typeValue "carousel" }}
      {{ partial "carousel.html" $section }}
    
    {{ else if eq $typeValue "accordion" }}
      {{ partial "accordion.html" $section }}
    
    {{ else }}
      <!-- Unknown section type -->
      <div class="bg-red-100 p-4 mb-16 container mx-auto px-6 max-w-5xl">
        <p>Unknown section type: {{ $typeValue }}</p>
      </div>
    {{ end }}
  {{ end }}
{{ end }}